body {
  background-color: #FAFAFF;
  margin: 0;
}

input[type=submit] {
  background:#E65785;
  border:0 none;
  border-radius: 5px;
  color: white;
  cursor:pointer;
  padding:5px 15px;
  -webkit-border-radius: 5px;
}

button {
  background:#E65785;
  border:0 none;
  border-radius: 5px;
  color: white;
  cursor:pointer;
  padding:5px 15px;
  -webkit-border-radius: 5px;
}

label {
  color: white;
  left: 100%;
  text-align: left;
}

span {
  color: red;
}

input[type=text], input[type=password] {
  border: 1px solid #ccc;
  box-sizing: border-box;.
  display: inline-block;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

select {
  border: 1px solid #ccc;
  box-sizing: border-box;.
  display: inline-block;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

/* Navbar */
.active {
  background-color: #E65785;
}

.main-navigation li:last-child {
  float: right;
}

.main-navigation ul {
  background: #333;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation ul li {
  background: #333;
  display: block;
  float: left;
  position: relative;
}

.main-navigation li ul {
  display: none;
}

.main-navigation li > ul > li > a {
  border: 1px solid #b7b7b7;
  border-top: 5px;
  font-weight: bold;
}

.main-navigation ul li a {
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
}

.main-navigation ul li a:hover {
  background: #111;
}

.main-navigation li:hover > ul {
  display: block;
  position: absolute;
}

.main-navigation li:hover li {
  float: none;
}

.main-navigation li:hover a {
  background: #333;
}

.main-navigation li:hover li a:hover {
  background: #E65785;
}

.main-navigation li ul li {
  border-top: 0;
  z-index: 999;
}

.main-navigation ul ul ul {
  left: 100%;
  top: 0;
}

.main-navigation ul:before,
.main-navigation ul:after {
  content: " ";
  display: table;
}

.main-navigation ul:after {
  clear: both;
}

#disabled {
  color: #777777;
  pointer-events: none;
}

/* Rest */
.content {
  margin: 20px;
}

.header {
  align-items: center;
  display:flex;
  flex-direction: row;
  height:50px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.loginform {
  background-color: #576372;
  border: 2px solid #E65785;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
  width: 50%;
}

.customform {
  background-color: #576372;
  border-radius: 25px;
  border: 2px solid #E65785;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
  width: 50%;
}

.customresponse {
  border: 2px solid #E65785;
  border-radius: 25px;
  padding: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.customresponse h1 {
  color: #E65785;
  text-align: center;
}

.customresponse pre {
  white-space: pre-wrap;
}

.policyform {
  background-color: #576372;
  border: 2px solid #E65785;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
  width: 50%;
}

.rulesearch {
  background-color: #576372;
  border: 2px solid #E65785;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
  width: 50%;
}

.ruletable {
  border: 2px solid #E65785;
  border-radius: 15px;
  padding: 5px;
  position: relative;
  width: 100%;
}

.ruletable table {
  position: relative;
  width: 100%;
}

.ruletable tr:hover td {
  background-color: #DAEAFF
}

.ruletable th {
  background-color: #576372;
  border: 1px solid black;
  color: #ffffff;
  text-align: center;
}

.ruletable td {
  background-color: #FBFBFB;
  border: 1px solid black;
  text-align: center;
}

.ruletable td:first-child {
  background-color: #EFEFF0;
}

.rulebreak td {
  background-color: #E65785 !important;
  color: white;
  text-align: center;
}

.rulesection td {
  background-color: #FFF9B2 !important;
  padding: 5px;
  text-align: left;
}

.objectcontent {
  float: left;
  margin: 20px;
  width: 50%;
}

.objectresponse {
  border: 2px solid #E65785;
  border-radius: 25px;
  float: right;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
  width: 40%;
}

.addobjectform {
  background-color: #576372;
  border: 2px solid #E65785;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
  width: 100%;
}

/* Settings */
.settingsform {
  background-color: #576372;
  border: 2px solid #E65785;
  border-radius: 15px;
  padding: 20px;
  position: relative;
  width: 40%;
}

.settingsform p {
  color: white;
}
#hostform {
  display: none;
}

#netform {
  display: none;
}

#groupform {
  display: none;
}

.addobjectform h1 {
  color: white;
  text-decoration: underline;
}

.showobject {
  background-color: #576372;
  border: 2px solid #E65785;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
  width: 50%;
}

.showobject h1 {
  color: #E65785;
}

.showobject p {
  color: white;
}

.showobject a {
  color: #E65785;
}

.disabledrule {
  opacity: 0.5;
}

.negatedcell {
  background-color: #690019;
  opacity:0.5;
}

.commandform {
  background-color: #576372;
  border: 2px solid #E65785;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
  width: 75%;
}

.commandform select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 150px;
}

.commandform textarea {
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  height: 150px;
  margin: 8px 0;
  padding: 12px 20px;
  resize: vertical;
  width: 100%;
}

.commandresponse {
  border: 2px solid #E65785;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
  width: 50%;
}
