<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    </head>
        <body>
            {% block navbar %}
            {{nav.mynavbar.render()}}
            {% endblock %}
            <h1>
                Add Host
            </h1>
            <p>
                Add single host. Automatic Publish<br>
            </p>
            <form action="" method="post" name="login">
                <p>
                    Host Name: <br>
                    <input type="text" name="hostname"><br>
                </p>
                <p>
                    IP Address: <br>
                    <input type="text" name="ipv4address"><br>
                </p>
                <p><input type="submit" value="Submit"></p><br>
            </form>
            {% if response %}
            <p>
                {{ response }}<br>
            </p>
            {% endif %}
        </body>
</html>
