<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    </head>
        <body>
            <ul>
                <li><a href="commands">Custom Command</a></li>
                <li><a href="addhost">Add Host</a></li>
            </ul>
            <h1>
                CPAPI
            </h1>
            <p>
                Send custom commands. See API Reference for details.<br>
                <a href="https://sc1.checkpoint.com/documents/latest/APIs/index.html#introduction~v1.1" target="_blank">API Reference</a>
            </p>
            <h2>
                Send Command
            </h2>
            <form action="" method="post" name="login">
                <p>
                    Command: <br>
                    <input type="text" name="command"><br>
                </p>
                <p>
                    Payload: <br>
                    <input type="text" name="payload" value="{}"><br>
                </p>
                <p><input type="submit" value="Submit"></p><br>
            </form>
            {% if response %}
            <p>
                {{ response }}<br>
            </p>
            {% endif %}
        </body>
</html>
