<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    </head>
        <body>
            {% block navbar %}
            {{nav.mynavbar.render()}}
            {% endblock %}
            <h1>
                Custom Command
            </h1>
            <p>
                Send custom commands. See API Reference for details.
                <a href="https://sc1.checkpoint.com/documents/latest/APIs/index.html#introduction~v1.1" target="_blank">API Reference</a>
            </p>
            <form action="" method="post" name="login">
                <p>
                    Command: <br>
                    <input type="text" name="command"><br>
                </p>
                <p>
                    Payload: <br>
                    <input type="text" name="payload" value="{}"><br>
                </p>
                <p><input type="submit" value="Submit"></p><br>
            </form>
            {% if response %}
            <pre id="json">
                {{ response }}<br>
            </pre>
            {% endif %}
        </body>
</html>
