<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='cpapi.ico') }}">
    </head>
        <body>
            {% block navbar %}
            {{nav.mynavbar.render()}}
            {% endblock %}
            <h1>
                Import Objects
            </h1>
            <p>
                Import Objects from pre-formatted CSV.
                <a href="https://github.com/themadhatterz/cpapi/tree/master/examplefiles" target="_blank">Example Files</a>.<br><br>
            </p>
            <h2>
                Import Hosts
            </h2>
            <form action="" method="post" name="host" enctype="multipart/form-data">
                <p>
                    Hosts File :
                    <input type="file" name="hosts"><br>
                </p>
                <p><input type="submit" value="Upload"></p><br>
            </form>
            <h2>
                Import Networks
            </h2>
            <form action="" method="post" name="network" enctype="multipart/form-data">
                <p>
                    Networks File :
                    <input type="file" name="networks"><br>
                </p>
                <p><input type="submit" value="Upload"></p><br>
            </form>
            {% if error %}
            <p>
                {{ error }}
            </p>
            {% endif %}
        </body>
</html>
