<html>
    <body>
        <h1>CPAPI - Check Point API Tool</h1>
        <form action="" method="post" name="login">
            <p>
                IP Address: <br>
                <input type="text" name="ipaddress"><br>
            </p>
            <p>
                Username: <br>
                <input type="text" name="username"><br>
            </p>
            <p>
                Password: <br>
                <input type="password" name="password"><br>
            </p>
            <p>
                Domain: <br>
                <input type="text" name="domain"><br>
            </p>
            <p><input type="submit" value="Log In"></p><br>
            {% if error %}
            <p> {{ error }} </p>
            {% endif %}
        </form>
    </body>
</html>
