<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='cpapi.ico') }}">
    </head>
        <body>
            <h1>
                CPAPI - Check Point Web API Tool
            </h1>
            <p>
                Submit any feedback and report issues at:
                <a href="https://github.com/themadhatterz/cpapi/issues" target="_blank">Github</a>.<br>
                Be sure your Manager API is enabled and accepting connections from external addresses.<br>
            </p>
            <h2>
                Login
            </h2>
            <form action="" method="post" name="login">
                <p>
                    IP Address: <br>
                    <input type="text" name="ipaddress"><br>
                </p>
                <p>
                    Username: <br>
                    <input type="text" name="username"><br>
                </p>
                <p>
                    Password: <br>
                    <input type="password" name="password"><br>
                </p>
                <p>
                    Domain: <br>
                    <input type="text" name="domain"><br>
                </p>
                <p><input type="submit" value="Log In"></p><br>
            </form>
            {% if error %}
            <p>
                {{ error }}
            </p>
            {% endif %}
        </body>
</html>
