<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='cpapi.ico') }}">
    </head>
        <body>
            {% block navbar %}
            {{nav.mynavbar.render()}}
            {% endblock %}
            <h1>
                Run Command
            </h1>
            <p>
                Issue commands on Check Point devices.
            </p>
            <form action="" method="post" name="runcommand">
                <p>
                    Targets:
                    <select multiple name="target">
                        {% for target in alltargets %}
                            <option value="{{ target }}">{{ target }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>
                    Command/Script: <br>
                    <textarea type="text" name="command" rows="10"></textarea><br>
                </p>
                <p><input type="submit" value="Submit"><br></p>
            </form>
            {% if response %}
<pre>
{% for task in response %}
{{ task['target'] }} &#8208;&#8208; {{ task['status'] }}<br>
Response:
{{ task['response'] }}<br><br>
{% endfor %}
</pre>
            {% endif %}
        </body>
</html>
