<html>
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='files/cpapi.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/cpapi.css') }}?v={{config['version']}}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="{{url_for('static', filename='js/cpapi.js')}}"></script>
  </head>
    <body>
      <div class="main-navigation">
        {%- include 'postlognav.html' -%}
      </div>
      <div class="content">
        <div class="objectcontent">
          <div class="addobjectform">
            <h1>Add Group</h1>
            <form action="" method="post" name="addgroup">
              <label><b>Group Name</b></label>
              <input type="text" name="groupname">
              <label><b>Color</b></label>
              <select name="groupcolor">
                <option selected value="black">black</option>
                {%- for color in colors -%}
                <option value="{{ color }}">{{ color }}</option>
                {%- endfor -%}
              </select>
              <label><b>Group Members</b></label>
              <select class="selectjs" multiple="multiple" name="members">
                {%- for cpobject in allobjects['networkobjects'] -%}
                  <option value="{{ cpobject[0] }}">{{ cpobject[1] }} - {{ cpobject[2] }}</option>
                {%- endfor -%}
              </select>
              <br>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
{%- if response -%}
<div class="objectresponse">
<pre id="json">
{{ response }}
</pre>
</div>
{%- endif -%}
      </div>
    </body>
</html>
