<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/cpapi.css') }}?v=1.3.2">
    <link rel="shortcut icon" href="{{ url_for('static', filename='cpapi.ico') }}">
    <script src="{{url_for('static', filename='js/cpapi.js')}}"></script>
  </head>
    <body>
      <div class="main-navigation">
        {%- include 'postlognav.html' -%}
      </div>
      <div class="content">
        <div class="objectcontent">
          <div class="addobjectform">
            <h1>Add Host</h1>
            <form action="" method="post" name="addhost">
              <label><b>Host Name</b></label>
              <input type="text" name="hostname">
              <label><b>IPv4 Address</b></label>
              <input type="text" name="hostip">
              <label><b>Color</b></label>
              <select name="hostcolor">
                <option selected value="black">black</option>
                {%- for color in colors -%}
                <option value="{{ color }}">{{ color }}</option>
                {%- endfor -%}
              </select>
              <br>
              {%- include 'natsettings.html' -%}
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
{%- if response -%}
<div class="objectresponse">
<pre id="json">
{{ response }}
</pre>
</div>
{%- endif -%}
      </div>
    </body>
</html>
