<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/cpapi.css') }}?v=1.0.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='cpapi.ico') }}">
    </head>
        <body>
            {% block navbar %}
            {{nav.mynavbar.render()}}
            {% endblock %}
            <div class="content">
                <div class="objectcontent">
                    <div class="addobjectform">
                        <h1>Add Host</h1>
                        <form action="" method="post" name="addhost">
                            <label><b>Host Name</b></label>
                            <input type="text" name="hostname">
                            <label><b>IPv4 Address</b></label>
                            <input type="text" name="ipaddress">
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                    <br>
                    <div class="addobjectform">
                        <h1>Add Network</h1>
                        <form action="" method="post" name="addnet">
                            <label><b>Network Name</b></label>
                            <input type="text" name="netname">
                            <label><b>IPv4 Network</b></label>
                            <input type="text" name="network">
                            <label><b>Subnet Mask</b></label>
                            <input type="text" name="netmask">
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                    <br>
                    <div class="addobjectform">
                        <h1>Add Group</h1>
                        <form action="" method="post" name="addgroup">
                            <label><b>Group Name</b></label>
                            <input type="text" name="groupname">
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
{% if response %}
<div class="objectresponse">
<pre id="json">
{{ response }}
</pre>
</div>
{% endif %}
            </div>
        </body>
</html>
