<html>
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='files/cpapi.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/cpapi.css') }}?v={{config['version']}}">
    <script src="{{url_for('static', filename='js/objects.js')}}"></script>
  </head>
    <body onload="showobjects()">
      <div class="main-navigation">
        {%- include 'postlognav.html' -%}
      </div>
      <div class="content">
        <div class="objectinfo">
          <label>Local Objects: </label><p id="local">{{ objectstatus['local'] }}</p>
          <label>Remote Objects: </label><p id="remote">{{ objectstatus['remote'] }}</p>
        </div>
        <br>
        <div class="objectinfo">
          <div class="objectsearch">
            <label><b>Search Objects</b></label>
            <input id="searchstring" type="text" name="search" onchange="objectsearch()">
            <div id="filtered">
              <fieldset id="filterlabel">
                <legend><b>Results</b></legend>
                <div id="filtercontainer">
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <br>
        <div class="objectinfo">
          <div id="hosts">
            <fieldset id="hostlabel" onclick="togglehost()">
              <legend><b>Hosts</b></legend>
              <div id="hostscontainer" style="display:none">
              </div>
            </fieldset>
          </div>
          <br>
          <div id="networks">
            <fieldset id="networkslabel" onclick="togglenetworks()">
              <legend><b>Networks</b></legend>
              <div id="networkscontainer" style="display:none">
              </div>
            </fieldset>
          </div>
          <br>
          <div id="groups">
            <fieldset id="groupslabel" onclick="togglegroups()">
              <legend><b>Groups</b></legend>
              <div id="groupscontainer" style="display:none">
              </div>
            </fieldset>
          </div>
          <br>
          <div id="accessroles">
            <fieldset id="accessroleslabel" onclick="toggleaccessroles()">
              <legend><b>Access-Roles</b></legend>
              <div id="accessrolescontainer" style="display:none">
              </div>
            </fieldset>
          </div>
          <br>
          <div id="servers">
            <fieldset id="serverslabel" onclick="toggleservers()">
              <legend><b>Servers</b></legend>
              <div id="serverscontainer" style="display:none">
              </div>
            </fieldset>
          </div>
          <br>
          <div id="services">
            <fieldset id="serviceslabel" onclick="toggleservices()">
              <legend><b>Services</b></legend>
              <div id="servicescontainer" style="display:none">
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </body>
</html>
