<ul>
  {%- if 'sandbox' in request.path -%}
  <li><a class="active" href="/sandbox">Sandbox</a></li>
  {%- else -%}
  <li><a href="/sandbox">Sandbox</a></li>
  {%- endif -%}
  {%- if 'policy' in request.path -%}
  <li><a class="active" href="/policy">Policy</a></li>
  {%- else -%}
  <li><a href="/policy">Policy</a></li>
  {%- endif -%}
  {%- if 'scripts' in request.path -%}
  <li><a class="active" href="/scripts">Scripts</a></li>
  {%- else -%}
  <li><a href="/scripts">Scripts</a></li>
  {%- endif -%}
  <li><a href="/logout">Logout</a></li>
</ul>
<br>
