<ul>
  {%- if 'custom' in request.path -%}
  <li><a class="active" href="/cpapi/custom">Custom</a></li>
  {%- else -%}
  <li><a href="/cpapi/custom">Custom</a></li>
  {%- endif -%}
  {%- if 'add' in request.path -%}
  <li><a class="active">Add Objects</a>
  {%- else -%}
  <li><a>Add Objects</a>
  {%- endif -%}
    <ul>
      <li><a href="/cpapi/addhost">Host</a></li>
      <li><a href="/cpapi/addnetwork">Network</a></li>
      <li><a href="/cpapi/addgroup">Group</a></li>
    </ul>
  </li>
  {%- if 'policy' in request.path -%}
  <li><a class="active" href="/cpapi/policy">Policy</a></li>
  {%- else -%}
  <li><a href="/cpapi/policy">Policy</a></li>
  {%- endif -%}
  {%- if 'commands' in request.path -%}
  <li><a class="active" href="/cpapi/commands">Commands</a></li>
  {%- else -%}
  <li><a href="/cpapi/commands">Commands</a></li>
  {%- endif -%}
  {%- if 'settings' in request.path -%}
  <li><a class="active" href="/cpapi/settings">Settings</a></li>
  {%- else -%}
  <li><a href="/cpapi/settings">Settings</a></li>
  {%- endif -%}
  <li><a href="/cpapi/logout">Logout</a></li>
</ul>
<br>
