<html>
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='files/cpapi.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/cpapi.css') }}?v={{config['version']}}">
    <script src="{{url_for('static', filename='js/cpapi.js')}}"></script>
  </head>
    <body>
      <div class="main-navigation">
        {%- include 'postlognav.html' -%}
      </div>
      <div class="content">
        {%- include 'syncheader.html' -%}
        <div class="sandboxform">
          <label><b>Command</b></label>
          <select id="command" name="command">
            {%- for command in allcommands -%}
              <option value="{{ command }}">{{ command }}</option>
            {%- endfor -%}
          </select>
          <label><b>Payload</b></label>
          <input id="payload" type="text" name="payload" value="{}">
          <button onclick="sandboxPost()">Submit</button>
        </div>
        <br>
        <div id="sandboxresponse" class="sandboxresponse">
        </div>
      </div>
    </body>
</html>
