<html>
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='files/cpapi.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/cpapi.css') }}?v={{config['version']}}">
    <script src="{{url_for('static', filename='js/cpapi.js')}}"></script>
  </head>
    <body>
      <div class="main-navigation">
        {%- include 'postlognav.html' -%}
      </div>
      <div class="content">
        {%- include 'syncheader.html' -%}
        <div class="scriptform">
          <form action="" method="post">
            <label><b>Target(s)</b></label>
            <select multiple name="targets">
              {%- for target in alltargets -%}
              <option value="{{ target }}">{{ target }}</option>
              {%- endfor -%}
            </select>
            <label><b>Script</b></label>
            <textarea id="script" type="text" name="script"></textarea>
            <input type="submit" name="submit" value="Submit">
            {%- if error -%}
            <br><span><b>{{ error }}</b></span>
            {%- endif -%}
          </form>
        </div>
        {%- if response -%}
        {%- for task in response -%}
        <br>
        <div class="scriptresponse">
          <h1>{{ task['target'] }} &#8208;&#8208; {{ task['status'] }}</h1>
          <pre>{{ task['response'] }}</pre>
        </div>
        {%- endfor -%}
        {%- endif -%}
      </div>
    </body>
</html>
